* {
  box-sizing: border-box;
}

:root {
  --width--effect: 75%;
  --other--width--effect: 25%;
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.7);
  --leftbtn-hover-color: #212cc9;
  --rightbtn-hover-color: #2ac524;
  --speed: 1000ms;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
  background-color: transparent;
}

.split.left .btn:hover {
  background-color: var(--leftbtn-hover-color);
  border-color: var(--leftbtn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--rightbtn-hover-color);
  border-color: var(--rightbtn-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('./assets/video-game-console-2202635_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('./assets/xbox-4965065_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.hover-left .left {
  width: var(--width--effect);
}

.hover-left .right {
  width: var(--other--width--effect);
}

.hover-right .right {
  width: var(--width--effect);
}

.hover-right .left {
  width: var(--other--width--effect);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .btn {
    width: 10rem;
    padding: 1rem;
  }
}
